/* Contenedor del juego */
#game{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.tablero{
    width: 15%;
    border: solid 1px;
    padding: 50px
}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tableroJuego{
    width: 30%;
    border: solid 1px;
    padding: 50px
}

.ficha {
    height: 100px; 
    width: 100px; 
    border: solid 1px; 
    margin-bottom: 10px
}

.grid-tablero {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de tamaño igual */
    grid-template-rows: repeat(3, 1fr);    /* 3 filas de tamaño igual */
    gap: 10px;                             /* Espacio entre celdas */
    justify-content: center;               /* Centrar la cuadrícula en el contenedor */
    align-items: center;                   /* Centrar los elementos en la cuadrícula */
}